<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Blind-Bidder</h1>
    <p class="lead">Helping you win big, with less. Log-in or Sign-up to experience the best blind auction on the web.</p>
    <%= link_to 'Login', login_path, class: "btn btn-primary", id: 'login' %>
    <%= link_to 'Sign Up', new_user_path, class: "btn btn-primary", id: 'sign' %>
  </div>
</div>
<div id="auth-modal">
</div>